---
layout: default
title: 主页
---
<div id="content">
{% for tag in site.tags %}
<h2>{{tag[0]}}</h2>
<a name={{tag[0]}}></a>
{%for post in tag[1]%}
  <div class="post">
      <h1 class="title">{{ post.title }}</h1>
      <p class="byline"><small>发布于 {{ post.date }}</small></p>
    				<div class="entry">
            <p>{{ post.excerpt }}</p>
            </div>
<p class="meta"><a href="{{ post.url }}" class="more">阅读全文</a>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;标签:{{ post.tags }}</p>
</div>
{% endfor %}
{% endfor %}

</div>
