
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Personal Description: A two-column, fixed-width design.
Version    : 1.0
Released   : 20080513

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>gjz010的博客---{{ page.title }}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start header -->
<div id="header">
	<a href="/"><h1>gjz010的博客 </h1></a>
	<p> 各种乱七八糟的东西</p>
	<!-- JiaThis Button BEGIN -->
<div class="jiathis_style_32x32">
<a class="jiathis_button_qzone"></a>
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_tqq"></a>
<a class="jiathis_button_weixin"></a>
<a class="jiathis_button_renren"></a>
<a class="jiathis_button_tieba"></a>
<a class="jiathis_button_ishare"></a>
<a class="jiathis_button_baidu"></a>
<a class="jiathis_button_qq"></a>
<a class="jiathis_button_hi"></a>
<a class="jiathis_button_fb"></a>
<a class="jiathis_button_twitter"></a>
<a class="jiathis_button_googleplus"></a>
<a class="jiathis_button_tsohu"></a>
<a class="jiathis_button_t163"></a>
<a class="jiathis_button_cqq"></a>
<a class="jiathis_button_google"></a>
<a class="jiathis_button_qingsina"></a>
<a class="jiathis_button_115"></a>
<a class="jiathis_button_translate"></a>
<a class="jiathis_button_copy"></a>
<a class="jiathis_button_print"></a>
<a class="jiathis_button_fav"></a>
<a class="jiathis_button_email"></a>
<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" >
var jiathis_config={
	summary:"",
	hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
</div>
<!-- end header -->
<!-- start page -->
<div id="wrapper">
	<div id="page">
				<!-- start content -->
				<div id="content">
					<div class="post">
                                        {{ content }}
					</div>
				</div>
				<!-- end content -->
				<!-- start sidebar -->
				<div id="sidebar">
				<div class="wrap">
				<div class="top">
				<div class="btm">
					<ul>
						<li>
							<h2>留言板</h2>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'gjz010'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
						</li>
						<li>
							<h2>分享</h2><ul>

<!-- JiaThis Button BEGIN -->
<div class="jiathis_style"><span class="jiathis_txt">分享到：</span>
<a class="jiathis_button_qzone"></a>
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_tqq"></a>
<a class="jiathis_button_weixin"></a>
<a class="jiathis_button_renren"></a>
<a class="jiathis_button_tieba"></a>
<a class="jiathis_button_ishare"></a>
<a class="jiathis_button_baidu"></a>
<a class="jiathis_button_qq"></a>
<a class="jiathis_button_hi"></a>
<a class="jiathis_button_fb"></a>
<a class="jiathis_button_twitter"></a>
<a class="jiathis_button_googleplus"></a>
<a class="jiathis_button_tsohu"></a>
<a class="jiathis_button_t163"></a>
<a class="jiathis_button_cqq"></a>
<a class="jiathis_button_google"></a>
<a class="jiathis_button_qingsina"></a>
<a class="jiathis_button_115"></a>
<a class="jiathis_button_translate"></a>
<a class="jiathis_button_copy"></a>
<a class="jiathis_button_print"></a>
<a class="jiathis_button_fav"></a>
<a class="jiathis_button_email"></a>
<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" >
var jiathis_config={
	summary:"",
	hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->


						</li>
						
						
						
						
						
						
						<br>
						<li>
							<h2>Archives</h2>
							<ul>
								<li><a href="#">September</a> (23)</li>
								<li><a href="#">August</a> (31)</li>
								<li><a href="#">July</a> (31)</li>
								<li><a href="#">June</a> (30)</li>
								<li><a href="#">May</a> (31)</li>
								<li><a href="#">April</a> (30)</li>
							</ul>
						</li>
					</ul>
				</div>
				</div>
				</div>
				</div>
				<!-- end sidebar -->
				<div style="clear:both">&nbsp;</div>
	</div>
</div>
<div id="footer">
	<p>&copy;2007 All Rights Reserved &nbsp;&bull;&nbsp; Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> &nbsp;&bull;&nbsp; Icons by <a href="http://www.famfamfam.com/">FAMFAMFAM</a>.</p>
</div>
</body>
</html>

